@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.header {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.header .faded-box {
    background-color: rgb(0 0 0 / 50%);
    margin-top: 200px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    width: 6rem;
}

.header .odin {
    font-family: "norsebold";
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

.header .credit{
    margin: 10px auto;
    font-family: Helvetica;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.main {
    flex: 1;
}

.credit a {
    color: rgb(255, 255, 255);
}

