@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --secondary-color: rgb(89, 109, 72);
}

body {
    display: flex;
    height: 130vh;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

/* ============= */
/*    HEADER     */
/* ============= */

.header {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.header .faded-box {
    background-color: rgb(0 0 0 / 50%);
    margin-top: 170px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    width: 6rem;
}

.header .odin {
    font-family: "norsebold";
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

.header .credit {
    margin: 10px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.header .credit a {
    color: rgb(255, 255, 255);
}

/* ============= */
/*    MAIN      */
/* ============= */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-section, .form-section, .button-section {
    flex: 1;
    padding: 20px 200px 20px 50px;
}

.hero-section, .button-section {
    background-color: rgb(245, 247, 251);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.form-section {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    z-index: 2;
}

.form-section > form > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
}

.form-section li {
    font-family: Helvetica, Arial, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max(40%, 150px);
    height: 48px;
}

.form-section label {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--secondary-color);
}

.form-section input {
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1rem;
}

.form-section input:invalid {
    border-color: rgb(223, 29, 29);
}

.form-section input:focus {
    border-color: rgb(44, 104, 222);
    outline: none;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
}

.button-section > .login-prompt {
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 20px;
}

.button-section > .login-prompt > a {
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
}

.button-section > button {
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
    border: none; 
}

.button-section > button:hover {
    cursor: pointer;
}